.Nav{
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: fixed;
    z-index: 10;
    font-family: Arial, Helvetica, sans-serif;
}
.home{
    /* background-color: blue; */
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.about{
    /* background-color: green; */
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content{
    /* background-color: red; */
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a{
    display: block;
    background-size: 100%;
    height: 1000px;fill: url(85a0858c-7f6e-4161-834c-53a490ee04f6.jpeg);
    width: 100%;
    background-repeat: no-repeat;

    justify-content: center;
    align-items: center;
    background-image:url(85a0858c-7f6e-4161-834c-53a490ee04f6.jpeg);
}

.a1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
        display: flex;
    position: relative;
    Left: 15%;
    top: 35%;
    }
    
.putton{
    background-color: #373737;
    color: white;
    width: 200px;
    height: 50px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: relative;
    left: 15%;
    top: 35%;
    
}
.putton:hover{
    background-color: #E96153;
    color: white;
    transform: scale(1.2);
    transition-duration: 1000ms;
    text-decoration: underline;
    box-shadow: 3ch;}

.new{
    margin: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}
.img{
   padding-top: 2%;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.footer{
    background-color: #ea0000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15%;
    padding: 3%;

}
.img3{
    width: 250px;
    
}
h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
    margin-left: 10%;
}
h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 10%;
}